.Footer-form{
    display: inline-block;
    width: 100%;
   
}
.Footer-form{
    color: black;
	margin: 0 auto 1em;
	height: 150px;
    border-radius: 2px;
    border: none;
    padding-top:  1em;
    text-align: center;
    background-color:#069797;
    
}
.Footer-formInput{
    color:black;
	margin: 0 auto 1em;
    border-radius: 10px;
    border: none;
    display: block;
}
.Footer-textArea{
    color: black;
    border-radius: 10px;
    margin: 0 auto 1em;
    border: none;
    display: block;
}
.Footer-button{
    color:black;
	margin: 0 auto 1em;
    border-radius: 10px;
    border: none;
    display: block;
    background-color: skyblue;
}
