<form class="Footer-form">
        <input class="Footer-formInput" type="text" placeholder="Name">
        <input class="Footer-formInput" type="email" placeholder="Email">
        <textarea class="Footer-textArea" placeholder="motivo"></textarea>
        <button class="Footer-button" type="submit">Contact</button>
    </form>
