<section id="work" class="Works">
        <h2 class="Works-title"></h2>
        <figure class="Works-imageContainer">
            <img class="Works-image" src="assets/IMAGENES/pedro.jpeg" alt="Image of project">
            <br>
            <figcaption class="Works-description">
               OFERTAS!!
            </figcaption>
        </figure>
        </section>
