<h1>producto-list</h1>
<table style="background-color: greenyellow;" border="3">
<tr>
 <th>id</th>
 <th>model</th>
 <th>price</th>
 <th>serial</th>
</tr>
<tr *ngFor="let item of bikesList">
        
       <td>{{item.id}}</td>
       <td>{{item.model}} </td>
       <td>{{item.price}} </td>
       <td>{{item.serial}}</td>
</tr>
</table>
