<!--
<section id="work" class="Works">
    <h2 class="Works-title"></h2>
    <figure class="Works-imageContainer">
        <img class="Works-image" src="assets/IMAGENES/JUAN.jpg" alt="Image of project">
        <br>
        <figcaption class="Works-description">
           OFERTAS!!
        </figcaption>
    </figure>
    </section>
-->
<div class="slider">
        <ul>
            <li>
<img src="assets/IMAGENES/miss.jpeg" alt="">
</li>
            <li>
<img src="assets/IMAGENES/juan(1).jpeg" alt="">
</li>            

<li>
        <img src="assets/IMAGENES/juan.jpeg" alt="">
        </li>
                    <li>
        <img src="assets/IMAGENES/miss.jpeg" alt="">
        </li>


