
<nav class="MainMenu">
    <ul class="MainMenu-list">
        <li class="MainMenu-list"> <a [routerLink]="['clientes/cliente-list']">CLIENTES</a></li>
        <li class="MainMenu-list"> <a [routerLink]="['productos/producto-list']">PRODUCTOS</a></li>
    </ul>
</nav>

