a{
    text-decoration: none;
}
.MainMenu{

    background-color: #069797;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-weight: bold;
    
    
}
.MainMenu-link{
    color: #25f0f0;
    
}
.MainMenu-link:hover{
    color: rgb(20, 148, 131);
}
.MainMenu-list{
    display: inline-block;
    margin-right: .3em;

    }